@use "../abstracts" as *;

// ############################################### Heights
// Header
$header-height: 30px;

// Tables
$table-container-height: 85vh;
$tabs-table-container-height: 80vh;

// ############################################### Radius
$radius: 7px;
$search-input-radius: 30px;


// ============================== Radius ===============================================================================
.radius0 {
  border-radius: 0;
}

.radius {
  border-radius: $radius;
}

.radius-top-left {
  border-top-left-radius: $radius;
}

.radius-top-right {
  border-top-right-radius: $radius;
}

.radius-bottom-left {
  border-bottom-left-radius: $radius;
}

.radius-bottom-right {
  border-bottom-right-radius: $radius;
}

.radius-full {
  border-radius: 50%;
}

// ============================== Screen Size ==========================================================================
@mixin width-90-media {
  @include transition_all;
  @media (max-width: 768px) {
    width: 90%;
  }
}


// ------------------------------ HEIGHT -------------------------------------------------------------------------------
.min-height-full-viewport {
  min-height: 100vh;
}

.full-height-viewport {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
  @include width-90-media;
}

.height-95 {
  height: 95%;
  @include width-90-media;
}

.height-90 {
  height: 90%;
  @include width-90-media;
}

.height-80 {
  height: 80%;
  @include width-90-media;
}

.height-70 {
  height: 70%;
  @include width-90-media;
}

.height-40 {
  height: 40%;
  @include width-90-media;
}
.height-30 {
  height: 30%;
  @include width-90-media;
}
.height-20 {
  height: 20%;
  @include width-90-media;
}
.height-10 {
  height: 10%;
  @include width-90-media;
}


// ------------------------------ WIDTH --------------------------------------------------------------------------------
.full-width-media {
  @include transition_all;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.full-width-viewport {
  width: 100vw;
}

.full-width {
  width: 100%;
}

.width-95 {
  width: 95%;
  @include width-90-media;
}

.width-90 {
  width: 90%;
  @include width-90-media;
}

.width-80 {
  width: 80%;
  @include width-90-media;
}

.width-70 {
  width: 70%;
  @include width-90-media;
}

.width-60 {
  width: 60%;
  @include width-90-media;
}

.width-50 {
  width: 50%;
  @include width-90-media;
}

.width-45 {
  width: 45%;
  @include width-90-media;
}

.width-40 {
  width: 40%;
  @include width-90-media;
}

.width-30 {
  width: 30%;
  @include width-90-media;
}

.width-20 {
  width: 20%;
  @include width-90-media;
}

.width-10 {
  width: 10%;
  @include width-90-media;
}

.half-width {
  width: 50%;
  @include width-90-media;
}
